<!DOCTYPE html>
<html>
<head>
    <title>Home - RedisLogin</title>
</head>
<body>
    <h2>Bienvenido</h2>
    <p>Has iniciado sesión correctamente!</p>
    @Html.ActionLink("Cerrar sesión", "Logout", "Account")
</body>
</html>